<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translation Game</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="container">
        <div class="card">
            <div class="feedback">
                <p id="feedbackText">Correct! Or Wrong! Answer is: <span id="correctAnswer"></span></p>
            </div>
            <div class="generated">
                <p id="generatedSentence">Generated sentence in {from}</p>
            </div>
            <div class="input">
                <input type="text" id="userTranslation" placeholder="your translation to {to}">
            </div>
            <button id="playButton" onclick="checkTranslation()">PLAY</button>
        </div>
    </div>

    <script src="script.js"></script>

</body>
</html>
