<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://danielongithub17.github.io/funcs.js"></script>
    <link rel="stylesheet" href="static/style.css">
    <title>Edulingo</title>
</head>
<body>
    <div class="container">
        <h2>Edulingo</h2>
        <div>
            <label for="from">From</label>
            <select id="from">
                <option value="English">English</option>
            </select>
        
            <label for="to">From</label>
            <select id="to">
                <option value="French" selected>French</option>
                <option value="Spanish">Spanish</option>
            </select>

            <p id="translated">Translated text appears here</p>
            <button id="read" value="Read" name="read">Read</button>

            <input type="text" id="write" name="write" value="Write">
            <button id="translate" name="translate" value="Translate">Translate</button>
        </div>
    </div>
<script src="static/scripts.js"></script>
</body>
</html>